@mixin headingThreeStyle($colour) {
  color: $colour;
  margin-bottom: 10px;
}

@mixin card-content {
  img {
    width: 100%;
    height: 11rem;
    border-radius: 1rem 1rem 0 0;
  }
}

@mixin showcaseBtnStyle($bgColor) {
  display: inline-block;
  background-color: $bgColor;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  align-self: center;
  margin-top: 20px;
  box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.2);
  &:active {
    transition: all 0.3s;
    transform: translateY(3px);
    box-shadow: -1.5px 1.5px 10px rgba(0, 0, 0, 0.2);
  }
  &:hover {
    transition: 0.2s;
    background-color: lighten($bgColor, 8%);
  }
}

.showcase__card-1,
.showcase__card-2,
.showcase__card-3 {
  background-color: $primary-backgroundColor;
  //   height: 31.25rem;
  //   width: 25rem;
  border-radius: 1rem;
  box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.2);
}

.showcase__card--text {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  line-height: 1.5rem;
}

.showcase__card-1 {
  grid-area: card-1;
  @include card-content;
  .showcase__card--text {
    h3 {
      @include headingThreeStyle($bootstrap-green);
    }
  }

  .showcase-card__btn {
    @include showcaseBtnStyle($bootstrap-green);
  }
}

.showcase__card-2 {
  grid-area: card-2;
  @include card-content;
  .showcase__card--text {
    h3 {
      @include headingThreeStyle($bootstrap-blue);
    }
  }

  .showcase-card__btn {
    @include showcaseBtnStyle($bootstrap-blue);
  }
}

.showcase__card-3 {
  grid-area: card-3;
  @include card-content;
  .showcase__card--text {
    h3 {
      @include headingThreeStyle($bootstrap-grey);
    }
  }

  .showcase-card__btn {
    @include showcaseBtnStyle($bootstrap-grey);
  }
}

.showcase__grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  grid-template-areas:
    ". card-1 card-1 card-2 card-2 card-3 card-3 ."
    ". card-4 card-4 card-4 card-5 card-5 card-5 .";
}

.showcase__card-4 {
  grid-area: card-4;
}

.showcase__card-5 {
  grid-area: card-5;
}
